.black{
    background-image: url("bkg.jpg") !important;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}

h1 {
  color: white !important;
  opacity: 100%;
  font-weight: 100 !important;
  font-family: 'Megrim', cursive !important;
}