.jumbotron {
  background-image: url("bkg.jpg")  !important;
  opacity: 100% !important;
  background-size: 100% !important;
  background-position-y: 15%;
  background-repeat: repeat;
  border-radius: 0px !important;
  min-height: 550px !important;
  padding: 5em inherit;
  
}

h1 {
  color: white !important;
  opacity: 100%;
  font-weight: 100 !important;
}