

.jumbotron {
  background-image: url("bkg.jpg")  !important;
  opacity: 50%;
  background-color: #070c1b !important;
  background-size: 100% !important;
  background-position-y: 15%;
  background-repeat: repeat;
  border-radius: 0px !important;
}

h1 {
  color: white !important;
  opacity: 100%;
  font-weight: 100 !important;
}