.black{
    background-image: url("m1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}

.black2{
    background-image: url("moon3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}


h1 {
  color: white !important;
  opacity: 100%;
  font-weight: 100 !important;
}

p {
  color: white !important;
  opacity: 100%;
  font-weight: 100 !important;
}

u {
  color: rgb(194, 194, 194) !important;
  opacity: 100%;
  font-weight: 100 !important;
}

small {
  text-align: right;
}

a[type="hashtag"] {
  color: rgb(194, 226, 255) !important;
}

.card {
  background-color: rgba(194, 208, 255, 0.151) !important;
}

.form-control:valid {
  color: white !important;
  font-weight: 100;
}

