<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>TwitterNext</title>
    <meta name="description" content="Twitter Clone" />
    <meta name="author" content="PQY" />
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">
   
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>

  <body class="aboutBkg">
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
      <a class="navbar-brand" href="/home">TwitterNext</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">
              About <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="/hashtagAll">Hashtag</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/signout">Signout</a>
          </li>
        </ul>
      </div>
    </nav>


    <div class="jumbotron mx-5" 
    style="border-radius: 0px;
           background-color: rgba(0, 0, 0, 0.315);
    ">
      <div class="mx-auto dark" style="width: 70%;">
        <h1 class="display-3 text-white" type="about">Twitter Next</h1>
        <p class="lead text-white">
          Twitter is an online news and social networking site where people communicate in short messages called tweets. Tweeting is posting short messages for anyone who follows you on Twitter, with the hope that your messages are useful and interesting to someone in your audience.
          <br>
          TwitterNext is a clone of Twitter’s functionality with a futuristic look. User is able to sign in, create tweets that support hash tagging, delete tweet, and have individual profile page. The main framework is built on Django.
          <br>
          Have fun Tweeting!
          <br>
          <h5> Developed & Designed by: Qingyuan Peng</h5>
        </p>
      </div>
    </div>
  </body>
</html>