<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>TwitterNext</title>
    <meta name="description" content="Twitter Clone" />
    <meta name="author" content="PQY" />
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}">
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>

  <body class="black">
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
      <a class="navbar-brand active" href="/home">TwitterNext</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">
              Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="/hashtag">Hashtag</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/signout">Signout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron bg-transparent">
      <div class="mx-auto dark" style="width: 50%; border-radius: 0px;">
        <p class="muted-text">
        Hi lovely, you are loggined as: <em>{{user}}</em>. <a href="/signout";"><small><u>logout</u></small></a>
        <br>
        {% if not valid %}
        <small><em class="text-secondary">please login before you tweet: </em></small> <a href="/login";"><small><u>login</u></small></a>
        {% endif %}
         </p>
        <form method="POST" action="/home/">
          {% csrf_token %}
          <div class="form-group">
            <input name="body" class="form-control" placeholder="What's happening?" />
          </div>
          <button type="submit" formmethod="post" class="btn btn-info"> Tweet </button>
        </form>
      </div>
    </div>

  {% for tweet in tweets %}
    <div class="card mx-auto text-white bg-dark mb-5" style="width: 70%">

      <h6 class="card-header font-weight-light mb-0 align-text-bottom">
        <b class = "font-weight-bold">{{tweet.author}}   </b><small class="text-muted">at: {{tweet.created_at}}</small>
        <a class="close text-muted" href="/delete?id={{tweet.id}}"><small>x</small></a>
      </h6>
      <div class="card-body">
        <!-- parse hashtag --> 
        <p class="card-text">{{tweet.body}} <a class="text-muted close" href="/like?id={{tweet.id}}"><small>like</small></a> </p>
      </div>
    </div>
  {%endfor%}  
  </body>
</html>