<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>TwitterNext</title>
    <meta name="description" content="Twitter Clone" />
    <meta name="author" content="PQY" />
    {% load static %}

    <!-- <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}"> -->
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>

  <body class="bg-dark">
    
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/home">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
           <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">
              About <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/profile">
              Profile <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="#">Hashtag</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/signout">Signout</a>
          </li>
        </ul>
      </div>
    </nav>

    <form method="POST" action="/profile/" class="text-right my-5" >
          {% csrf_token %}
          <div class="form-group mx-auto" style="width: 60%;">
            <input name="body" class="form-control my-3" placeholder="What's happening?" />
          <button type="submit" class="btn btn-info text-right"> Tweet </button>
          </div>
    </form>

  {% for tweet in tweets %}
    <div class="card mx-auto text-white bg-dark mb-3" style="width: 80%;">
      <h6 class="card-header mb-2 text-muted">{{tweet.author}}</h6>
        <div class="card-body">
          <p class="card-text">{{tweet.body}}</p>
        </div>
    </div>
  {%endfor%}  
  
  </body>
</html>