<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>TwitterNext</title>
    <script
      src="https://code.jquery.com/jquery-1.12.3.min.js"
      integrity="sha384-ugqypGWrzPLdx2zEQTF17cVktjb01piRKaDNnbYGRSxyEoeAm+MKZVtbDUYjxfZ6"
      crossorigin="anonymous"
    ></script>
    <meta name="description" content="Twitter Clone" />
    <meta name="author" content="PQY" />
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Twitter Next</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="#">Hashtag</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron" background-color="#070c1b">
      <div class="mx-auto dark" style="width: 50%;">
        <h1 class="display-3">Twitter Next</h1>
        <p class="lead">
          The Future of Twitter
        </p>
        <form method="POST" action="/splash/">
          {% csrf_token %}
          <div class="form-group">
            <input name="body" class="form-control" placeholder="What's happening?" />
          </div>
          <button type="submit" formmethod="post" class="btn btn-info"> Tweet </button>
        </div>
        </form>
      </div>
    </div>
  {% for tweet in tweets %}
    <div class="card mx-auto" style="width: 80%;">
      <div class="card-body">
        <!-- <h5 class="card-title">Card title</h5> -->
        <h6 class="card-subtitle mb-2 text-muted">{{tweet.author}}</h6>
        <p class="card-text">{{tweet.body}}</p>
        <a href="#" class="card-link">Hashtag</a>
      </div>
    </div>
  {%endfor%}  
<!-- 
    <script src="js/scripts.js"></script> -->
  </body>
</html>