<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>TwitterNext</title>
    <script
      src="https://code.jquery.com/jquery-1.12.3.min.js"
      integrity="sha384-ugqypGWrzPLdx2zEQTF17cVktjb01piRKaDNnbYGRSxyEoeAm+MKZVtbDUYjxfZ6"
      crossorigin="anonymous"
    ></script>
    <meta name="description" content="Twitter Clone" />
    <meta name="author" content="PQY" />
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #062058;"
    >
      <a class="navbar-brand" href="#">Twitter Nextt</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="#">Hashtag</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="mx-auto" style="width: 50%;">
        <h1 class="display-3">Twitter Next</h1>
        <p class="lead">
          The Future of Twitter
        </p>
        <hr class="my-4" />
        <form id="form input" method="POST" action="/">
          <div class="form-group">
            <input
              type="text"
              name="title"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="What's happening?"
            />
          </div>
          <button
            type="submit"
            class="btn btn-info btn-lg pawBtn"
            href="#"
            role="button" >
            Tweet
          </button>
          <!-- <button type="submit">Add</button> -->
        </form>
      </div>
    </div>
<!-- 
    <script src="js/scripts.js"></script> -->
  </body>
</html>